*{
  background-color: blanchedalmond;
}
.form-parent{
  /* border: 2px solid red; */
  /* margin: 4% 35%; */
  padding: 15px;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100vw;
  align-items: center;
  justify-content: center;

}
.form-parent input{
  display: block;
  height: 40px;
  width: 400px;
  margin-bottom: 10px;
  background-color: azure;
}
.form-parent p{
  color: red;
  font-size: 12px;

}

#register{
  background-color: orange;
  color: white;
  font-size: 20px;
  padding: 5px;
  font-weight: 900;
}
#succes_msg{
  color: green;
  font-size: 18px;
}
